@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(20, 33, 61);
}

* {
  font-family: "Roboto";
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}