.header {
  background-color: var(--primary-color);
  opacity: 0.9;
  color: rgba(255,255,255,0.85);
  padding-block: 10px;
}
.body {
  background-color: #e5e5e5;
}
.cardsContainer {
  max-width: 1200px;
  height: fit-content;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
}
